@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Index";
}

<style>
    body {
        background-image: repeating-radial-gradient(#f8f8f8, #cef1eb);
    }

    th {
        height: 20px;
        width: 20px;
        text-align: center;
    }

    tbody :hover {
        background-color: #f7d7d7;
    }

    thead {
        background-color: darksalmon;
        color: white;
    }

    h2 {
        text-decoration-line: underline;
        text-align: center;
    }
</style>

<body>
    <div class="container">
        <h2>TRANSACTION</h2>
        <a data-toggle="modal" data-target="#myModal" onclick="AddCart()">
            <img id="btncart" src="~/Content/icon/shopping-cart.png" style="height:2rem; margin:12px;" />
        </a>
        <table class="table table-bordered table-striped" id="datatable">
            <thead>
                <tr>
                    <th style="width:2%">
                        No
                    </th>
                    <th style="width:25%">
                        Name
                    </th>
                    <th style="width:10%">
                        Price
                    </th>
                    <th style="width:10%">
                        Stock
                    </th>
                    <th style="width:1%">
                        Quantity
                    </th>
                    <th style="width:5%">
                        Add
                    </th>
                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background-color: #daf1e9;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title" id="myModalLabel">Cart</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <table class="table table-bordered table-striped" id="tablecart">
                            <thead style="background-color: darksalmon;color: white;">
                                <tr>
                                    <th style="width:25%">
                                        Item Name
                                    </th>
                                    <th style="width:10%">
                                        Price
                                    </th>
                                    <th style="width:10%">
                                        Stock
                                    </th>
                                    <th style="width:1%">
                                        Quantity
                                    </th>
                                    <th style="width:5%">
                                        Total
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="cartlist"></tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="Save" onclick="Save()" style="cursor: pointer;font-weight: bold;">Add</button>
                    <button type="button" class="btn btn-primary" id="Update" style="display:none;" onclick="Edit()">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="cursor: pointer;font-weight: bold;">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts{
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />


    <script src="~/Content/datatables/jquery.dataTables.min.js"></script>
    <link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Content/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/transaksi.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}